azure-core
azure-cosmos
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
curl_cffi
frozendict
gevent
greenlet
idna
logzero
markdown-it-py
mdurl
multitasking
numpy
pandas
peewee
platformdirs
protobuf
pycparser
Pygments
PyJWT
pyotp
python-dateutil
python-dotenv
pytz
requests
rich
six
smartapi-python
soupsieve
ta
typing_extensions
tzdata
urllib3
websocket
websocket-client
websockets
yfinance

